/* p{color:gold;} */
.section-button {
    border: none;
    background: none;
    cursor: pointer;
    user-select: none; /* Предотвращает выделение текста */
  }
  
  /* Дополнительные стили для улучшения внешнего вида */
  .section-content {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  /* Пример для всех элементов с классом "text-element" */
  .about-container {
    margin-left: 20px; /* Внешний отступ слева для контейнера кнопки "About" */
  }