.navigation{display:flex;}
.h1font {font-size:30px;letter-spacing: 0.6px;font-weight: 30;}
h1{line-height: 50px;
  font-family: 'Forum', serif;
}
html{height:100%;width: 1440px;}
body{height: 20%;
  margin:0;

}
button{padding: 0;padding-block: 0;padding-inline: 0;
  color:white;
}
.icon{margin-left: 40px;

}


 /* .section-button:hover{font-weight: bold;}  */
/* .section-button {border: none; background: none; cursor: pointer; user-select: none;display:inline-block; */
.header{align-items: center;font-style: normal;font-family: Inter;padding: 0 1.39%;justify-content: space-between; font-weight: 400; height:90px; color: white; position: relative; background-color: black;   margin-top: 0px; display: flex;}
.header-left-side{align-items: center;display:flex;}
body header nav a{
  /* display: flex;  */
  text-decoration: none;}
.navigation-list{list-style: none; gap: 30px; display: flex;
  /* margin: 0;  padding: 0; */
}
.navigation-list li a{color: #FFF; font-family: inter; font-size: 20px; line-height: 50px;}
.navigation-list li a:hover{text-shadow: 1px 0 white;}

.welcome-bg{background: black;padding: 35px 2.78%; width: 36.11%; height: 150px; margin-top: 220px;}
.main{
  /* display: flex; */
  font-size: 40px; line-height: 50px; letter-spacing: 3px;
  /* text-transform: uppercase; */
}
.welcome{background-image: url(изображения/Welcome.png);
   /* width: 100%; */
   height: 600px;display: flex;}
.welcome-bg h2{color: white; text-align: center; font-weight: 40; margin: 0; font-size: 40px; font-family: Forum;}
.overlay{height: 300px; position:absolute; width: 1440px; box-shadow: inset 0 0 0 1px black, 0 4px 4px 0 rgba(0, 0, 0, 0.25);}

.about{height: 837px;}
.section-title{font-family:Forum; color:black; display:flex; justify-content:center; margin: 0; margin-top: 20px; font-size: 40px; letter-spacing: 2px; font-weight: normal;}
.line{width: 50px; height: 1px; background-color: black; border: none;}
.about-text{font-weight: normal; font-size: 20px; letter-spacing: 0;
  /* height: 40px; */
  font-family: Inter;display:flex;justify-content: center;
  /* margin: 0; */
}
